[submodule "themes/soho"]
	path = themes/soho
	url = https://github.com/alexandrevicenzi/soho.git
[submodule "public"]
	path = public
	url = https://github.com/professorguto/professorguto.github.io.git
	branch = main
